body {
	background-color: #CFD8DC;
	overflow-x: hidden;
	font-family: Verdana;
}

.sideframe {
	width: 330px;
	height: 100%;
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index:50;
	background-color: #80DEEA;

	-webkit-box-shadow: 5px 0px 4px 0px rgba(50, 118, 141, 0.75);
	-moz-box-shadow:    5px 0px 4px 0px rgba(50, 118, 141, 0.75);
	box-shadow:         5px 0px 4px 0px rgba(50, 118, 141, 0.75);
}

.sideframe .list {
	background-color: transparent;
}

.sideframe .list h1 {
	color:#fff;
}

.mainframe {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	overflow-x: scroll;
}

.lists-wrapper {
	display: table;
}

.new-task {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

.new-task input[type="text"] {
	height: 40px;
	vertical-align: bottom;
	background-color: #efefef;
	border-color: #adadad;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
}

#newTaskTitle {
	width: 200px;
}

#newTaskTime {
	width: 80px;
}

.task {
	display: block;
	width: 280px;
	background-color: #F5F5F5;
	text-align: left;
	padding: 5px;
	margin: 5px;
	font-size: 0.7em;

	-webkit-box-shadow: 2px 1px 4px 0px rgba(88, 88, 88, 0.75);
	-moz-box-shadow:    2px 1px 4px 0px rgba(88, 88, 88, 0.75);
	box-shadow:         2px 1px 4px 0px rgba(88, 88, 88, 0.75);
}

.task.active {
	opacity: 0.5
}

.task .time {
	float: right;
	color: #797979;
}

.lists-wrapper:first-child{
	margin-left: 330px;
}

.list {
	background-color:#efefef;
	width: 300px;
	z-index: 1;
	min-height: 100px;
	position: relative;
	top: 0;
	border-radius: 4px;
	padding: 10px;
}

.list h1 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-decoration: underline;
}

.list p {
	font-size: 0.85em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-style: italic;
}

.list.inactive {
	border-color:#afafaf;
	border-style: solid;
	border-width: 1px;
}

.day-wrapper {
	height: 100%;
	padding: 10px;
	display: table-cell;
}

.day {
	border-color:#afafaf;
	border-style: solid;
	border-width: 1px;
}

.day.available {
	border-color: #4CAF50;
	border-width: 3px;
}

.day.overbook {
	border-color: #f44336;
	border-width: 3px;
}

#newDayName {
	width: 280px;
	text-align: center;
	font-size: 1.5em;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #adadad;
}