body {
	background-color:  #7aa5b7;
	overflow-x: hidden;
	font-family: 'Manjari', Verdana,sans-serif;
}

input, button {
	font-family: 'Manjari', Verdana,sans-serif;
}

.sideframe {
	width: 330px;
	height: 100%;
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index:50;
	background-color:  #CFD8DC;

	/* -webkit-box-shadow: 5px 0px 4px 0px rgba(50, 50, 128, 0.75);
	-moz-box-shadow:    5px 0px 4px 0px rgba(128, 128, 128, 0.75); */
	box-shadow:         5px 0px 4px 2px rgba(50, 50, 50, 0.75);
}

.sideframe button {
	/* height: 40px; */
	padding: 8px;
	margin-top:10px;
	background-color: #3089b0;
	color: #eee;
	border-radius: 8px;
	border-width: 0;
	text-transform: uppercase;
}

.sideframe button:hover, .sideframe button:active {
	background-color: #26C6DA;
}

.sideframe .list {
	background-color: transparent;
}

.sideframe .list h1 {
	color:#7aa5b7;
}

.mainframe {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	overflow-x: scroll;
}

.lists-wrapper {
	display: table;
}

.new-task {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

.new-task input {
	height: 40px;
	vertical-align: bottom;
	background-color: transparent;
	color: #3089b0;
	border: none;
	border-bottom: 1px solid #3089b0;
	font-size: 18px;
	text-align: center;
}

.new-task input::placeholder {
	color: #999;
}

#newTaskTitle {
	width: 200px;
}

#newTaskTime {
	width: 80px;
}

.task {
	display: block;
	width: 280px;
	min-height: 40px;
	background-color: #E3F2FD;
	text-align: left;
	padding: 6px;
	margin: 5px;
	font-size: 0.7em;
	border-radius: 6px;
	overflow: hidden;
	-webkit-box-shadow: 2px 1px 4px 0px rgba(88, 88, 88, 0.75);
	-moz-box-shadow:    2px 1px 4px 0px rgba(88, 88, 88, 0.75);
	box-shadow:         2px 1px 4px 0px rgba(88, 88, 88, 0.75);
}

.task.active {
	opacity: 0.5
}

.task .time {
	float: right;
	color: #3089b0;
	margin-right: 8px;
}

.lists-wrapper:first-child{
	margin-left: 350px;
}

.list {
	background-color:#5b5c62;
	width: 300px;
	z-index: 1;
	min-height: 100px;
	position: relative;
	top: 0;
	/* border-radius: 4px; */
	padding: 10px;
}

.list h1 {
	color: #E3F2FD;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-decoration: none;
}

.list p {
	font-size: 0.85em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	color: #c1ccd4;
}

.list.inactive {

	/* border-color:#afafaf;
	border-style: solid;
	border-width: 1px; */
}

.day-wrapper {
	height: 100%;
	padding: 10px;
	display: table-cell;
}

.day {
	/* border-color:#afafaf;
	border-style: solid;
	border-width: 1px; */
	color: #eee;
}

.day.available {
	/* border-color: #4CAF50;
	border-width: 3px; */
	background-color: #66BB6A;
}

.day.overbook {
	background-color: #f44336;
	/* border-width: 3px; */
}

.day .delete {
	float: right;
	position: relative;
	top: -6px;
	right: -8px;
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 2.0em;
	color: #ef9a9a;
}

.task, .day .task {
	color: #333;
}

#addListColumn, #newDayName, #newDayCapacity {
	color: #eee;
}

#newDayName {
	width: 280px;
	text-align: center;
	font-size: 1.5em;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #adadad;
}

#newDayName::placeholder, #newDayCapacity::placeholder {
	color: #bbb;
}

#newDayCapacity {
	width: 60px;
	text-align: center;
	font-size: 1.0em;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #adadad;
}