:root {
	--color-bg0: #FFFBFE;
	--color-bg1: #EADDFF;
	--color-fg1: #21005D;
	--color-bg2: #E7E0EC;
	--color-fg2: #49454F;
	--color-error: #B3261E;
	--color-error-bg: #F9DEDC;
	--color-primary: #6750A4;

	--shadow-placed: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	--shadow-lifted: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);

	--font-family: 'Manjari', Verdana,sans-serif;
}

body {
	background-color:  var(--color-bg0);
	overflow-x: hidden;
	font-family: var(--font-family);
}

input, button {
	font-family: var(--font-family);
	outline: none;
}

.sideframe {
	width: 330px;
	height: 100%;
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index:50;
	background-color: var(--color-bg1);
	color: var(--color-fg1);

}

.sideframe button {
	/* height: 40px; */
	padding: 8px;
	margin-top:10px;
	background-color: #3089b0;
	color: #eee;
	border-radius: 8px;
	border-width: 0;
	text-transform: uppercase;
}

.sideframe button:hover, .sideframe button:active {
	background-color: #26C6DA;
}

.sideframe .list {
	background-color: transparent;
}

.sideframe .list h1 {
	color: var(--color-fg1);
}

.mainframe {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	overflow-x: scroll;
}

.lists-wrapper {
	display: table;
}

.new-task {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

input {
	height: 40px;
	vertical-align: bottom;
	background-color: #E8DEF8;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: none;
	border-bottom: 1px solid var(--color-fg2);
	font-size: 18px;
	text-align: center;
}

input::placeholder {
	color: #625B71;
}

input:focus {
	background-color: var(--color-bg0);
}

#newTaskTitle {
	width: 200px;
}

#newTaskTime {
	width: 80px;
}

.task {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: center;
	width: 280px;
	min-height: 40px;
	background-color: var(--color-bg0);
	text-align: left;
	padding: 12px;
	margin: 5px;
	font-size: 0.7em;
	border-radius: 12px;
	overflow: hidden;
	box-sizing: border-box;

	box-shadow: var(--shadow-placed);
	color: var(--color-fg2);
}

.task:hover{
	box-shadow: var(--shadow-lifted);
	cursor: grab;
}

.task.active {
	box-shadow: none;
	cursor: grabbing;
}

.task input[type="checkbox"] {
	box-sizing: border-box;
	border: 2px solid var(--color-primary);
	background-color: var(--color-bg0);
	border-radius: 2px;
	appearance: none;
	width: 16px;
	height: 16px;
}

.task input[type="checkbox"]:hover {
	background-color: var(--color-primary);
	position: relative;
	cursor: pointer;
}

.task input[type="checkbox"]:hover::after {
	content: '\2713';
	color: var(--color-bg0);
	font-size: 12px;
}

.task .time {
	color: var(--color-fg1);
}

.lists-wrapper:first-child{
	margin-left: 350px;
}

.list {
	background-color: var(--color-bg2);
	width: 300px;
	z-index: 1;
	min-height: 100px;
	position: relative;
	top: 0;
	border-radius: 16px;
	padding: 10px;
}

.list h1 {
	color: var(--color-fg2);
	font-size: 1.5em;
	margin-block-start: 1.0em;
	text-align: center;
	text-decoration: none;
}

.list p {
	font-size: 0.85em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	color: var(--color-fg2);

	display: flex;
	justify-content: center;
	align-items: baseline;
}

.list.inactive {

	/* border-color:#afafaf;
	border-style: solid;
	border-width: 1px; */
}

.day-wrapper {
	height: 100%;
	padding: 10px;
	display: table-cell;
}

.day {
	/* border-color:#afafaf;
	border-style: solid;
	border-width: 1px; */
	color: var(--color-bg2);
	border: 1px solid transparent;
}

.day.available {
	/* border-color: #4CAF50;
	border-width: 3px; */
	/* background-color: #DCF9EB; */
	border: 1px solid #79747E;
}

.day.overbook {
	background-color: var(--color-error-bg);
	/* border-width: 3px; */
}

.day .delete {
	float: right;
	position: relative;
	top: -6px;
	right: -8px;
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 2.0em;
	color: var(--color-fg2);
}

.day .delete:hover{
	color: var(--color-error);
	cursor: pointer;
}


#addListColumn, #newDayName, #newDayCapacity {
	color: var(--color-fg1);
}

#newDayName {
	width: 280px;
	text-align: center;
	font-size: 1.5em;
}

#newDayCapacity {
	width: 60px;
	text-align: center;
}